In [2]:
import pandas as pd

### 데이터 프레임 생성

In [7]:
dict1 = {
    '2015' : [9904312, 3448737, 2890451, 2466052],
    '2010' : [9631434, 3432124, 1233423, 2212234],
    '2005' : [8938474, 2983842, 1129823, 2039884],
    '2000' : [9483874, 3787722, 8373723, 7834733],
    '지역' : ['수도권', '경상권', '수도권', '경상권'],
    '증가율' : [0.0234, 0.0384, 0.3423, 0.3423]
}

option1 = ['지역', '2000', '2005', '2010', '2015', '증가율']
option2 = ['서울', '부산', '인천', '대구']

df1 = pd.DataFrame(dict1, columns=option1, index=option2)
df1

     지역     2000     2005     2010     2015     증가율
서울  수도권  9483874  8938474  9631434  9904312  0.0234
부산  경상권  3787722  2983842  3432124  3448737  0.0384
인천  수도권  8373723  1129823  1233423  2890451  0.3423
대구  경상권  7834733  2039884  2212234  2466052  0.3423

In [11]:
list1 = [
             [100, 200, 300],
             [1000, 2000, 3000],
             [10000, 20000, 30000]
]

option3 = ['항목1', '항목2', '항목3']
option4 = ['로우1', '로우2', '로우3']

df2 = pd.DataFrame(list1, columns=option3, index=option4)
df2

       항목1    항목2    항목3
로우1    100    200    300
로우2   1000   2000   3000
로우3  10000  20000  30000