numpy 처럼 쉼표(,)를 이용해 인덱싱할 수 있는 함수들

- loc : 특성값 기반의 2차원 인덱싱
- iloc : 순서를 타나내는 정수 기반의 2차원 인덱싱

In [2]:
import pandas as pd
import numpy as np

In [7]:
option1 = ['a1', 'a2', 'a3']
option2 = ['b1', 'b2', 'b3', 'b4']

df1 = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=option1, columns=option2)
df1

    b1  b2  b3  b4
a1  10  11  12  13
a2  14  15  16  17
a3  18  19  20  21

In [13]:
# 행 하나의 데이터를 시리즈로 가져온다.
# df1['a1':'a1']
df1.loc['a1']

b1    10
b2    11
b3    12
b4    13
Name: a1, dtype: int32

In [15]:
# a1 행 ~ a2 행
# df1['a1':'a2']
df1.loc['a1':'a2']

    b1  b2  b3  b4
a1  10  11  12  13
a2  14  15  16  17

In [18]:
# 특정 행만 가져온다.
# df1[['a1', 'a3']]
df1.loc[['a1', 'a3']]

    b1  b2  b3  b4
a1  10  11  12  13
a3  18  19  20  21

In [23]:
# b1 특성의 값이 15보다 큰 행만 가져온다.
df1.loc[df1['b1'] > 15]

    b1  b2  b3  b4
a3  18  19  20  21

In [25]:
# a2행의 b2값을 가져온다.
df1.loc['a2', 'b2']

15

In [26]:
# a1 ~ a2 행의 b2 값을 가져온다.
df1.loc['a1':'a2', 'b2']

a1    11
a2    15
Name: b2, dtype: int32

In [27]:
# a1 ~ a2 행의 b1 ~ b3값을 가져온다.
df1.loc['a1':'a2', 'b1':'b3']

    b1  b2  b3
a1  10  11  12
a2  14  15  16

In [28]:
# a1, a3행의 b1, b3 값을 가져온다.
df1.loc[['a1', 'a3'], ['b1', 'b3']]

    b1  b3
a1  10  12
a3  18  20

In [31]:
# 모든 행의 b1, b3 값을 가져온다.
# df1[['b1', 'b3']]
df1.loc[:, ['b1', 'b3']]

    b1  b3
a1  10  12
a2  14  16
a3  18  20

In [34]:
# a1, a3 행의 모든 특성값을 가져온다.
# df1.loc[['a1', 'a3']]
df1.loc[['a1', 'a3'], :]

    b1  b2  b3  b4
a1  10  11  12  13
a3  18  19  20  21

### iloc

loc가 특성이나 행의 이름을 설정하고, iloc 인덱스 번호를 설정한다

특성의 이름이나 행의 이름이 문자열로 되어 있어도 가능하다.

In [35]:
df1

    b1  b2  b3  b4
a1  10  11  12  13
a2  14  15  16  17
a3  18  19  20  21

In [36]:
# 0행, 1열
df1.iloc[0, 1]

11

In [37]:
# 0 ~ 2 - 1행까지 2열 데이터
df1.iloc[:2, 2]

a1    12
a2    16
Name: b3, dtype: int32

In [39]:
# 2 ~ 3 - 1행, 1 ~ 3 - 1열 데이터
df1.iloc[2:3, 1:3]

    b2  b3
a3  19  20