In [1]:
import numpy as np
import pandas as pd

### 데이터 개수 세기

In [6]:
# nan은 전체 개수에서 제외된다.
s1 = pd.Series(range(10))
s1[3] = np.nan
s1.count()

9

In [16]:
# 데이터프레임인 경우 각 특성의 행의 개수를 계산해서 반환한다.
# 이 때, nan은 제외한다. 특성에 결측치가 있는지 확인하는 용도로
# 사용한다.
df1 = pd.DataFrame(np.arange(20).reshape(4, 5))
df1.iloc[2, 3] = np.nan
df1.count()

0    4
1    4
2    4
3    3
4    4
dtype: int64

### 카테고리 값 세기

In [27]:
s2 = pd.Series(np.random.randint(1, 46, size=1000))
s2.value_counts().head(6)

36    35
45    31
16    30
35    30
3     29
17    27
dtype: int64

In [29]:
df1[3].value_counts()

18.0    1
8.0     1
3.0     1
Name: 3, dtype: int64

In [35]:
df2 = pd.DataFrame(np.random.randint(10, size=(4, 8)))
df2

   0  1  2  3  4  5  6  7
0  2  7  4  9  7  8  7  2
1  0  0  3  9  7  9  0  9
2  2  5  8  7  3  5  5  3
3  9  1  9  2  6  9  6  9

In [38]:
# 행의 합계
df2.sum(axis=1)

0    46
1    37
2    38
3    51
dtype: int64

In [39]:
# 열의 합계
df2.sum(axis=0)

0    13
1    13
2    24
3    27
4    23
5    31
6    18
7    23
dtype: int64