In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv('train_new.csv')
train_df.head()

   PassengerId  Survived  Pclass  Sex  Age  Title  FamilySize
0            1         0       3    0  1.0      0         0.4
1            2         1       1    1  3.0      2         0.4
2            3         1       3    1  2.0      1         0.0
3            4         1       1    1  2.0      2         0.4
4            5         0       3    0  2.0      0         0.0

In [3]:
test_df = pd.read_csv('test_new.csv')
test_df.head()

   PassengerId  Pclass  Sex  Age  Title  FamilySize
0          892       3    0  2.0      0         0.0
1          893       3    1  3.0      2         0.4
2          894       2    0  4.0      0         0.0
3          895       3    0  2.0      0         0.0
4          896       3    1  1.0      2         0.8

### 학습 데이터 준비

In [4]:
target = train_df['Survived']
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [5]:
train_df = train_df.drop(['PassengerId', 'Survived'], axis=1)
train_df.head()

   Pclass  Sex  Age  Title  FamilySize
0       3    0  1.0      0         0.4
1       1    1  3.0      2         0.4
2       3    1  2.0      1         0.0
3       1    1  2.0      2         0.4
4       3    0  2.0      0         0.0

### K-fold 교차 검증

데이터를 랜덤하게 섞어 일부를 발췌한 데이터(Fold)를 K개를 생성하여 지정된 모델 하나를 K번 학습하고 예측 정확도를 측정하는 검증 기법.

In [6]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [ ]:
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)